<nav class="navbar navbar-expand-lg navbar-dark bg-primary-custom">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="/assets/imagenes/Escudo.png" alt="" width="87" height="101">
    </a>
    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>
<nav class="navbar navbar-expand-lg navbar-light bg-light-custom">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav list-center">
        <li class="nav-item separate">
          <a class="nav-link" href="#">Acerca de</a>
        </li>
        <!-- <hr width="1" size="500"> -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Carreras
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#">Ing. Informatica</a></li>
            <li><a class="dropdown-item" href="#">Ing. Sistemas</a></li>
            <li><a class="dropdown-item" href="#">Ing. Redes y Telecomunicaciones</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Postgrado</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Biblioteca</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
